<div class="contact-container container-block">
  <h2 class="container-block-title">Contact</h2>
  <ul class="list-unstyled contact-list">
    <li><span class="contact-label">Email</span><a href="mailto:{{ sidebar.email | escape }}">{{ sidebar.email | escape }}</a></li>
    <li><span class="contact-label">Phone</span><a href="tel:{{ sidebar.phone | escape }}">{{ sidebar.phone | escape }}</a></li>
    <li><span class="contact-label">Location</span>{{ sidebar.location | escape }}</li>
    <li><span class="contact-label">Time zone</span>{{ sidebar.timezone | escape }}</li>
    <li><span class="contact-label">LinkedIn</span><a href="https://www.linkedin.com/in/{{ sidebar.linkedin | escape }}/">linkedin.com/in/{{ sidebar.linkedin | escape }}</a></li>
    <li><span class="contact-label">GitHub</span><a href="https://github.com/{{ sidebar.github | escape }}">github.com/{{ sidebar.github | escape }}</a></li>
    <li><span class="contact-label">Website</span><a href="{{ sidebar.website | escape }}">{{ sidebar.website | remove: 'https://' | escape }}</a></li>
  </ul>
</div>
